
<section class="mb20">

<h2>製品情報</h2>

<div class="box1">
<a href="service2.html">
<figure><img src="images/sample2.jpg" alt="製品名"></figure>
<h4>製品名</h4>
<p>ここに製品の説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="box1">
<a href="service2.html">
<figure><img src="images/sample2.jpg" alt="製品名"></figure>
<h4>製品名</h4>
<p>ここに製品の説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="box1">
<a href="service2.html">
<figure><img src="images/sample2.jpg" alt="製品名"></figure>
<h4>製品名</h4>
<p>ここに製品の説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="box1">
<a href="service2.html">
<figure><img src="images/sample2.jpg" alt="製品名"></figure>
<h4>製品名</h4>
<p>ここに製品の説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="box1">
<a href="service2.html">
<figure><img src="images/sample2.jpg" alt="製品名"></figure>
<h4>製品名</h4>
<p>ここに製品の説明を入れます。サンプルテキスト。</p>
</a>
</div>

</section>
