@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: #333;	/*全体の文字色*/
	background: #eee url(../images/bg.png);	/*背景色、背景画像の読み込み*/
	margin: 0px;
	padding: 0px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 15px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;	/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #508f0c;			/*マウスオン時の文字色（全体）*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1200px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding: 30px 3% 0;	/*上、左右、下へのボックス内の余白。*/
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 280px;	/*ブロックの高さ*/
	position: relative;
	background: #EEE url(../images/header_bg.jpg) no-repeat right center;	/*背景色、背景画像の読み込み*/
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);	/*影の設定。それぞれ右へ、下へ、ぼかし幅。0,0,0は黒の事で0.5は透明度50%の事*/
	border: 1px solid #FFF;		/*線の幅、線種、色*/
	margin-bottom: 30px;	/*ヘッダーと下の左右ブロックの間のスペース*/
}
/*ロゴ画像の設定*/
header #logo img {
	position: absolute;
	left: 30px;	/*ヘッダーブロックに対して左から30pxの位置に配置*/
	top: 90px;	/*ヘッダーブロックに対して上から90pxの位置に配置*/
	width: 300px;	/*ロゴ画像の幅*/
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロックの設定*/
nav#menubar ul {
	overflow: hidden;
	width: 100%;
	background: #FFF;	/*背景色*/
	position: absolute;
	left: 0px;		/*ヘッダーの左から0pxの場所に配置*/
	bottom: 0px;	/*ヘッダーの下から0pxの場所に配置*/
	border-top: 1px solid #FFF;	/*上の線の幅、線種、色*/
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;	/*左に回り込み*/
	width: 20%;		/*メニュー幅。今回は５個あるので、100÷5=20。*/
}
nav#menubar ul li a {
	text-decoration: none;display: block;
	font-weight: bold;	/*文字を太字にする設定。通常がいいならこの１行削除。*/
	background-color: #40720a;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: url(../images/bg1.png), linear-gradient(#508f0c, #40720a);		/*背景画像の読み込み,グラデーション*/
	text-align: center;	/*文字をセンタリング*/
	color: #FFF;		/*文字色*/
	border-left: 1px solid #FFF;	/*左側の線の幅、線種、色*/
	padding: 10px 0;	/*上下、左右へのボックス内の余白*/
	line-height: 1.5;	/*行間。デフォルトより少し狭くする。*/
}
/*最初のメニューの設定*/
nav#menubar ul li:first-child a {
	border-left: none;	/*左側の線を消す設定*/
}
/*マウスオン時の設定*/
nav#menubar ul li a:hover {
	background: #508f0c url(../images/bg1.png);	/*背景色、背景画像の読み込み*/
}
/*英語表記の設定*/
nav#menubar ul li a span {
	display: block;
	font-size: 10px;	/*文字サイズ*/
	font-weight: normal;	/*太字を標準に戻す設定。*/
	opacity: 0.6;	/*透明度60%*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: left;overflow: hidden;
	padding-bottom: 30px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: left;	/*左側に回り込み*/
	margin-bottom: 30px;
	width: 71%;		/*メインコンテンツ幅*/
	background: #FFF;	/*背景色*/
	padding: 20px;	/*ボックス内の余白*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	color: #FFF;		/*文字色*/
	padding: 7px 20px;	/*上下、左右への余白*/
	background: #40720a;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/arrow2.png) no-repeat right center, linear-gradient(#508f0c, #40720a);		/*背景画像の読み込み,グラデーション*/
	box-shadow: 1px 2px 5px #ccc;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	background: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background:linear-gradient(#FFF, #f4f4f4 49%, #e8e8e8 50%, #FFF 100%);	/*グラデーション*/
	box-shadow: 1px 2px 5px #e2e2e2;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	padding: 4px 20px 4px 10px;	/*上、右、下、左へのボックス内の余白*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
}
/*mainコンテンツのh3タグの１文字目への設定*/
#main h3::first-letter {
	border-left: 3px solid #40720a;	/*左のアクセントラインの幅、線種、色*/
	padding-left: 7px;	/*ラインと文字の間の余白*/
}
/*段落タグ設定*/
#main p {
	padding: 0px 20px 15px;	/*上、左右、下への余白*/
}
#main h2 + p,
#main h3 + p {
	margin-top: -10px;
}

/*service.html内の各ブロック（※タイプ１）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main .list1 {
	overflow: hidden;
	float: left;
	height: 390px;	/*ボックスの高さ*/
	width: 47%;		/*ボックスの幅*/
	line-height: 1.6;
	margin-left: 2%;
	margin-bottom: 20px;
}
/*ボックス内の段落タグ設定*/
#main .list1 p {
	padding: 0px;
}
/*ボックス内のh4タグ設定*/
#main .list1 h4 {
	color: #508f0c;	/*文字色*/
}
/*写真の設定*/
#main .list1 figure {
	padding: 5px;	/*写真と枠線との余白設定*/
	margin-bottom: 5px;	/*画像の下に少し余白を空ける設定*/
	border: 1px solid #CCC;	/*画像の枠線の幅、線種、色*/
}
/*「もっと詳しく」ボタン設定*/
#main .list1 p.more {
	margin: 10px auto 0;
	width: 100%;	/*ボタンの幅*/
	text-align: center;	/*文字を中央に*/
}
#main .list1 p.more a {
	text-decoration: none;display: block;
	color: #FFF;	/*文字色*/
	background-color: #900000;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: linear-gradient(#b10000, #900000);	/*グラデーション*/
	font-size: 11px;	/*文字サイズ*/
	border-radius: 4px;	/*各丸のサイズ*/
	padding: 5px 0;		/*上下、左右へのボタン内の余白*/
}
#main .list1 p.more a:hover {
	background: #d30000;	/*マウスオン時の背景色*/
}

/*service.html内の各ブロック（※タイプ２）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main .list2 {
	position: relative;overflow: hidden;
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	border-radius: 6px;		/*角丸のサイズ*/
	margin-bottom: 20px;	/*ボックスの下に空けるスペース*/
	background: linear-gradient(#FFF, #e3e3e3);			/*グラデーション*/
	box-shadow: 0px 2px 5px #CCC, 0px 0px 0px 1px #FFF inset;	/*影の設定。右・下・ぼかし幅・色の設定, ＋内側への影を右・下・ぼかし幅・距離・色を設定*/
	padding: 20px;	/*ボックス内の余白*/
}
#main .list2 a {
	text-decoration: none;display: block;overflow: hidden;
	margin: -20px;	/*ボックス内の余白*/
	padding: 20px;	/*ボックス内の余白*/
}
/*マウスオン時*/
#main .list2 a:hover {
	background-color: #f6f1b2;	/*背景色*/
	color: #333;				/*文字色*/
	border-radius: 6px;			/*角丸のサイズ*/
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list2 a::before {
	content: "→";	/*この文字を出す。他の文字に変えても可だが機種依存文字は化けるので使わない。*/
	position: absolute;
	right: 20px;	/*ボックスの右から20pxの場所に配置*/
	bottom: 20px;		/*ボックスの下から20pxの場所に配置*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*rgb指定での背景色。「0,0,0」は黒の事で「0.5」が透明度50%の事。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	border-radius: 4px;		/*角丸のサイズ*/
	width: 30px;		/*幅*/
	line-height: 30px;	/*高さ*/
	text-align: center;
}
#main .list2 a:hover::before {
	background: #000;	/*マウスオン時の「→」マークの背景色*/
}
/*ボックス内のh4タグ設定*/
#main .list2 h4 {
	color: #508f0c;	/*文字色*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	margin-bottom: 10px;
}
/*ボックス内の写真設定*/
#main .list2 figure img {
	float: left;			/*画像を左へ回り込み*/
	margin-right: 20px;		/*画像の右側に空けるスペース*/
	background-color: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;			/*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	width: 40%;	/*画像の幅*/
	height: auto;
}
/*ボックス内の段落タグ設定*/
#main .list2 p {
	padding: 0px;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: right;	/*右側に回り込み*/
	width: 22%;;	/*サブコンテンツ幅*/
	margin-bottom: 30px;
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	text-align: center;	/*文字をセンタリング*/
	padding: 3px 0px;	/*左から、上下、左右への余白*/
	background: #333;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: linear-gradient(#222, #333);	/*グラデーション*/
	color: #FFF;	/*文字色*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub .submenu {
	border-top: 1px solid #CCC;		/*上側の線の幅、線種、色*/
	border-right: 1px solid #CCC;	/*右側の線の幅、線種、色*/
	border-left: 1px solid #CCC;	/*左側の線の幅、線種、色*/
	margin-bottom: 20px;			/*メニューブロックの下にあけるスペース*/
}
/*メニュー１個ごとの設定*/
#sub .submenu li a {
	text-decoration: none;display: block;
	border-bottom: 1px solid #CCC;	/*下側の線の幅、線種、色*/
	padding: 0px 10px;	/*上下、左右へのボックス内の余白*/
	background: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: linear-gradient(#eaeaea, #FFF);	/*グラデーション*/
	box-shadow: 0px 0px 0px 1px #FFF inset;	/*内側への影を右・下・ぼかし幅・距離・色を設定*/
}
/*マウスオン時の設定*/
#sub .submenu li a:hover {
	background: #508f0c;	/*背景色*/
	color: #FFF;			/*マウスオン時の文字色*/
	box-shadow: none;	/*内側への影をリセットする*/
}

/*サブコンテンツ　製品情報ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub .box1 {
	overflow: hidden;
	font-size: 11px;	/*文字サイズ*/
	border-bottom: 1px solid #CCC;	/*下の線の幅、線種、色*/
	border-left: 1px solid #CCC;	/*左の線の幅、線種、色*/
	border-right: 1px solid #CCC;	/*右の線の幅、線種、色*/
	line-height: 1.5;	/*行間*/
}
#sub .box1 a {
	text-decoration: none;display: block;overflow: hidden;
	padding: 10px;	/*ボックス内の余白*/
	background: #fff;	/*背景色*/
}
#sub .box1 a:hover {
	background: #508f0c;	/*マウスオン時のボックス色*/
	color: #FFF;			/*マウスオン時の文字色*/
}
/*写真の設定*/
#sub .box1 figure {
	float: left;	/*左に回り込みさせる設定*/
	width: 30%;		/*画像の幅*/
	margin-right: 5px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	margin-bottom: 30px;
	text-align: center;
	color: #FFF;			/*文字色*/
	background: #111;		/*背景色*/
}
footer a {
	text-decoration: none;
	color: #FFF;
}
footer a:hover {
	color: #FFF;
}
footer .pr {display: block;font-size: 80%;}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px;
	margin-bottom: 20px;
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;		/*幅*/
	color: #534e40;	/*文字色*/
	font-weight: bold;	/*太字にする設定*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
	border-bottom: 1px solid #efefef;	/*下線の幅、線種、色*/
}

/*よく頂く質問ページ
---------------------------------------------------------------------------*/
/*ブロック全体*/
.faq {
	padding: 0px 20px;	/*上下、左右への余白*/
}
/*質問の設定*/
.faq dt {
	color: #508f0c;	/*文字色*/
	padding-top: 15px;
	font-weight: bold;	/*太字にする設定*/
}
.faq dt a {
	color: #508f0c;	/*文字色*/
}
/*回答の設定*/
.faq dd {
	border-bottom: 1px solid #dbdbdb;	/*下線の幅、線種、色*/
	overflow: hidden;
	padding-bottom: 15px;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #CCC;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFF;	/*文字色*/
	background: #333;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: linear-gradient(#4b4b4b, #333);	/*グラデーション*/
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 160px;
	text-align: center;
	background: #e2e2e3;	/*背景色*/
}
/*左側ボックスに画像を入れた場合の設定*/
.ta1 th img {
	width: 100%;
}

/*submitボタンの設定
---------------------------------------------------------------------------*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 10px 30px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border: none;
	border-radius: 30px;	/*角丸のサイズ*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
	font-size: 16px;	/*文字サイズ*/
	border: 1px solid #ccc;
}
/*マウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover{
	background: #fff;	/*背景色*/
}

/*一覧ページのボックス右下のオプションマーク
（CMSの場合は管理ページの「オプション1」～のプルダウンと、setup.phpの「オプション選択肢」に関連します）
---------------------------------------------------------------------------*/
.option1 {
	font-size: 10px;
	color: #FFF;
	background: #F00;
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transform: rotate(45deg) translate(35px);
	transform: rotate(45deg) translate(35px);
}
h2 span.option1 {
	width: auto;
	padding: 0px 5px;
	position: static;
	-webkit-transform: none;
	transform: none;
	display: inline-block;
}
.option2 {
	font-size: 10px;
	color: #FFF;
	background: #069;
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transform: rotate(45deg) translate(35px);
	transform: rotate(45deg) translate(35px);
}
h2 span.option2 {
	width: auto;
	padding: 0px 5px;
	position: static;
	-webkit-transform: none;
	transform: none;
	display: inline-block;
}

/*ページの上部へ（↑）ボタン
---------------------------------------------------------------------------*/
@keyframes scroll {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
body .nav-fix-pos-pagetop a {display: none;}
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	position: fixed;	/*固定表示*/
	bottom: 90px;	/*下から90pxの場所に配置*/
	right: 4%;		/*右から4%の場所に配置*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事で0.6は透明度60%の事。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*マウスオン時の背景色*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #dcdcdc;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 20px;list-style: disc;}
.color1, .color1 a {color: #508f0c;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;}
.big1 {font-size: 20px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*service.html内の各ブロック（※タイプ１）
---------------------------------------------------------------------------*/

/*各ボックスの設定*/
#main .list1 {
	height: 340px;	/*ボックスの高さ*/
}

}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 200px;	/*ブロックの高さ*/
	background: #EEE url(../images/header_bg.jpg) no-repeat right center/60%;
}
/*ロゴ画像の設定*/
header #logo img {
	top: 80px;	/*ヘッダーブロックに対して上から80pxの位置に配置*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: absolute;top: 0px;z-index: 10;
	border-top: 1px solid #fff;		/*上の線の幅、線種、色*/
	width: 100%;		/*幅*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*待機中は最初のキーフレームを、完了後は最後のキーフレームを維持*/
	font-size: 16px;		/*文字サイズ*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 10px 5%;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: #000;	/*背景色*/
	color: #fff;		/*文字色*/
}
/*日本語の飾り文字*/
#menubar-s a span {
	display: block;
	font-size: 12px;	/*文字サイズ*/
	color: #999;		/*文字色*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	position: absolute;z-index: 11;
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #000 url(../images/icon_menu.png) no-repeat center top/50px;
	top: 45px;	/*上から45pxの場所に配置*/
	right: 5%;	/*右から5%の場所に配置*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #000 url(../images/icon_menu.png) no-repeat center bottom/50px;
	top: 12px;	/*上から12pxの場所に配置*/
	right: 3%;	/*右から3%の場所に配置*/
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;width: auto;
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
#sub .submenu li a {
	padding: 10px;	/*ボックス内の余白*/
}

/*サブコンテンツ　製品情報ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub .box1 {
	font-size: 14px;	/*文字サイズ*/
}
/*写真の設定*/
#sub .box1 figure {
	width: 10%;		/*画像の幅*/
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,.m-n {display: none;}
.sh {display:block;}
.pc {display:none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 100px;	/*ブロックの高さ*/
}
/*ロゴ画像の設定*/
header #logo img {
	width: 200px;	/*画像の幅*/
	left: 10px;	/*ヘッダーブロックに対して左から10pxの位置に配置*/
	top: 38px;	/*ヘッダーブロックに対して上から38pxの位置に配置*/
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 40px;	/*幅を少し小さく再設定*/
	height: 40px;	/*高さを少し小さく再設定*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background-size: 40px;	/*サイズだけ少し小さく再設定*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background-size: 40px;	/*サイズだけ少し小さく再設定*/
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main h2, #main h3 {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/*段落タグ設定*/
#main p {
	padding: 0px 10px 15px;	/*上、左右、下への余白*/
}

/*service.html内の各ブロック（※タイプ１）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main .list1 {
	float: none;
	height: auto;	/*ボックスの高さ*/
	width: auto;		/*ボックスの幅*/
	margin-left: 0;
}

/*service.html内の各ブロック（※タイプ２）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main .list2 {
	padding: 10px;	/*ボックス内の余白*/
}
#main .list2 a {
	margin: -10px;	/*ボックス内の余白*/
	padding: 10px;	/*ボックス内の余白*/
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list2 a::before {
	right: 10px;	/*ボックスの右から10pxの場所に配置*/
	bottom: 10px;		/*ボックスの下から10pxの場所に配置*/
}

/*サブコンテンツ　製品情報ボックス
---------------------------------------------------------------------------*/
/*写真の設定*/
#sub .box1 figure {
	width: 20%;		/*画像の幅*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 10px;
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.big1 {font-size: 16px;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}

}

/* validation error
--------------------------------------------------------------------------*/
.text-danger {
    color: #dc3545!important;
}
